html * {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
}

.img-1 {
    background-color: #91a7f0;
}

.bg-2  {
    background-color: rgb(171, 195, 216);
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 30px;
  margin-bottom: 1px;
}   

h2 {
    text-align: center;
    font-size: 15px;
    margin-top: 1px;
}

img {
    padding: 15px;
}

p {
    margin: 1px;
}

span {
    color: rgb(16, 16, 165);
}

a:link {
    color:rgb(86, 75, 235)
}

strong {
    font-size: 25px;
}